//holding page

.holding-page {
    .holding-block {
        $past1: darken(#ACC7DC, 30);

        & * {
            transition: all 0.5s;
        }
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #cdcdcc;
        
        .item {
            //border: 1px solid red;
            box-shadow: 0 0px 0px #555;
            transition: all 2s ease-in 2s;
            padding: 40px;
            transform: rotate(45deg);
            opacity: 0.1;
            h1 {
                font-size: 180px !important;
                transition: all 3s;
            }
            &.item-clicked {
                box-shadow: 0 30px 100px #888;
                transition: all 3s, box-shadow 1s 3s; 
                //background: white;
                transform: rotate(0deg);
                opacity: 1;
                h1 {
                    font-size: 40px !important;
                }
            }
        }

    }
}

.search {
    padding: 20px;
    display: flex;
    height: 80px;
    max-width: 600px;
    margin: auto;
    select, input, button {
        border:1px solid #ccc;
    }
    select {
        border-radius: 8px 0 0 8px;
        border-right:0px solid #ccc;
        width: 56px;
        padding: 5px;
    }
    input {
        padding:5px;
        flex:1;
    }
    button {
        border-radius: 0 8px 8px 0;
        width: 40px;
        border-left:0px solid #ccc;
        //text-indent: -10000px;
    }
}

.counter {
    padding: 20px;
    display: flex;
    height: 80px;
    max-width: 80px;
    margin: auto;
    select, input, button {
        border:1px solid #ccc;
    }
    input {
        padding:5px;
        flex:1;
        width: 60px;
    }
    button.plus {
        border-radius:  8px 0 0 8px;
        width: 50px;
        border-left:0px solid #ccc;
    }
    button.minus {
        border-radius: 0 8px 8px 0;
        width: 60px;
        border-left:0px solid #ccc;
    }
}