//holding page

.holding-page {
    .holding-block {
        $past1: darken(#ACC7DC, 30);

        & * {
            transition: all 0.5s;
        }
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #cdcdcc;
        
        .item {
            //border: 1px solid red;
            box-shadow: 0 0px 0px #555;
            transition: all 2s ease-in 2s;
            padding: 40px;
            transform: rotate(45deg);
            opacity: 0.1;
            h1 {
                font-size: 180px !important;
                transition: all 3s;
            }
            &.item-clicked {
                box-shadow: 0 30px 100px #888;
                transition: all 3s, box-shadow 1s 3s; 
                //background: white;
                transform: rotate(0deg);
                opacity: 1;
                h1 {
                    font-size: 40px !important;
                }
            }
        }

    }
}
