.single-product-wrapper,
.single-product-wrapper * {
    transition: all 1s;
} 

.single-product-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    display:flex;
    .prod-image {

        img {
            max-width: 260px;
            padding-top:20px;
            padding-bottom:30px;
        }
    }
    .details {
        h3 {
            font-size: 26px;
            color: #020202;
        }
        .content {
        }
        .prod-price {
            font-size: 22px;
        }
    }
}


@media screen and (min-width: 1000px) {

    .single-product-wrapper {
        flex-direction: row;
        .prod-image {
            img {
                padding-top:40px;
                width:160px;
            }
        }
        .details {
            display:flex;
            flex-direction: column;
            .content {
                flex:1;
            }
            .prod-price {
            }
        }
    }

}