<div class="flex-slide-page-wrapper">
    <div class="flex-slide-box-wrapper">
        <div href="#" class="box open">
            <header>
                <h1>Welcome to the site</h1>
            </header>
        </div>
        <div href="#" class="box">
            <header>
                    <h1>About the company</h1>
            </header>
        </div>
        <div href="#" class="box">
            <header>
                    <h1>Testimonials</h1>
            </header>
        </div>
        <div href="#" class="box">
            <header>
                    <h1>Our Team</h1>
            </header>
        </div>
        <div href="#" class="box">
            <header>
                    <h1>Our Services</h1>
            </header>
        </div>
        <div href="#" class="box">
            <header>
                    <h1>Contact Us</h1>
            </header>
        </div>
    </div>
</div>