 //image gallery effect

 .flex-slide-page-wrapper {
    background-color: #466675;
    height: 100%;
}

.flex-slide-box-wrapper {
    background-color: #C8C8C8;
   

   & * {
       transition: all 2s;
   }
   
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

   .box {
       background-position-x: center;
       background-position-y: center;    
       background-color: #466675;
       max-height: 50px;
       position: relative;
       overflow:hidden;
       
       h1 {
        font-size: 18px;
        padding-left: 10px;
        padding-top:16px;
        text-align: left;

       }
       header {
        min-height: 100px;
        text-align: center;

        .logo {
            padding:20px;
            opacity: 0;
        }

        }
        main {
            text-align: center;
            p {
                margin-left:auto;
                margin-right:auto;
                max-width:700px;
                padding-left:10px;
                padding-right: 10px;
            }
    
        }
    


   }
   .box:nth-child(1) {
       background-color: #D2ACD1;
    }
   .box:nth-child(2) {
       background-color: #8C759F;
    }
   .box:nth-child(3) {
       background-color: #C587AE;
    }
   .box:nth-child(4) {
       background-color: #F5B8C7;
    }
   .box:nth-child(5) {
       background-color: #FBCDBE;
    }

   .box.open {
       flex:1;
       max-height: 100%;
       header {
            .logo {
                opacity: 1;
            }
       }
       h1 {
        text-align: center;
        width:auto;

       }
   }      
}


@media screen and (min-width: 768px) {
    .flex-slide-box-wrapper {
        flex-direction: row;
        .box {
            max-width: 50px;
            min-width: 50px;
            height:100%;
            max-height: 100%;
            h1 {
                text-align: right;
                transition:all 1s;
                transform: rotate(-90deg);
                position:absolute;
                transform-origin: bottom left;
                top:480px;
                left:36px;
               width:500px;
                font-size: 20px;
            }
                main {
                    transition: opacity 0.2s;
                    opacity: 0.0;
                }

        }
 
     
        .box.open {
            max-width: 100%;
            //background-size: 100%;
            h1 {
                left:10px;
                top:10px;
                transform: rotate(0deg);
                transform-origin: top center;
                font-size: 36px;
                position: relative;
                padding-bottom:30px;
            }
            main {
                transition: opacity 1s 1s;
                opacity: 1;
            }
        }      
     }
     
     
}


