<div class="flex-slide-page-wrapper">
    <div class="flex-slide-box-wrapper">
        <div href="#" class="box">
            <div class="content-wrapper">
            <header>
                <img class="logo" src="/assets/images/logo.png" alt="">
                <h1>Welcome to the site</h1>
            </header>

            <main>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam nam temporibus velit. Error, repudiandae dolorum numquam expedita neque aperiam id iusto aut voluptas fugit rem commodi doloribus sit corrupti ea a. Suscipit repellat quis consequuntur dicta nulla voluptate tenetur atque expedita totam consequatur aperiam assumenda labore nisi, doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
                <p>
                    Doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
            </main>
            <footer></footer>
        </div>
        </div>
        <div href="#" class="box">
            <header>
                    <img class="logo" src="/assets/images/logo.png" alt="">
                    <h1>About the company</h1>
            </header>
            <main>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam nam temporibus velit. Error, repudiandae dolorum numquam expedita neque aperiam id iusto aut voluptas fugit rem commodi doloribus sit corrupti ea a. Suscipit repellat quis consequuntur dicta nulla voluptate tenetur atque expedita totam consequatur aperiam assumenda labore nisi, doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
                <p>
                    Doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
            </main>
        </div>
        <div href="#" class="box">
            <header>
                    <img class="logo" src="/assets/images/logo.png" alt="">
                    <h1>Testimonials</h1>
            </header>
            <main>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam nam temporibus velit. Error, repudiandae dolorum numquam expedita neque aperiam id iusto aut voluptas fugit rem commodi doloribus sit corrupti ea a. Suscipit repellat quis consequuntur dicta nulla voluptate tenetur atque expedita totam consequatur aperiam assumenda labore nisi, doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
                <p>
                    Doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
            </main>

        </div>
        <div href="#" class="box">
            <header>
                    <img class="logo" src="/assets/images/logo.png" alt="">
                    <h1>Our Team</h1>
            </header>
            <main>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam nam temporibus velit. Error, repudiandae dolorum numquam expedita neque aperiam id iusto aut voluptas fugit rem commodi doloribus sit corrupti ea a. Suscipit repellat quis consequuntur dicta nulla voluptate tenetur atque expedita totam consequatur aperiam assumenda labore nisi, doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
                <p>
                    Doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
            </main>

        </div>
        <div href="#" class="box">
            <header>
                    <img class="logo" src="/assets/images/logo.png" alt="">
                    <h1>Our Services</h1>
            </header>
            <main>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam nam temporibus velit. Error, repudiandae dolorum numquam expedita neque aperiam id iusto aut voluptas fugit rem commodi doloribus sit corrupti ea a. Suscipit repellat quis consequuntur dicta nulla voluptate tenetur atque expedita totam consequatur aperiam assumenda labore nisi, doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
                <p>
                    Doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
            </main>

        </div>
        <div href="#" class="box">
            <header>
                    <img class="logo" src="/assets/images/logo.png" alt="">
                    <h1>Contact Us</h1>
            </header>
            <main>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam nam temporibus velit. Error, repudiandae dolorum numquam expedita neque aperiam id iusto aut voluptas fugit rem commodi doloribus sit corrupti ea a. Suscipit repellat quis consequuntur dicta nulla voluptate tenetur atque expedita totam consequatur aperiam assumenda labore nisi, doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
                <p>
                    Doloremque veniam omnis repudiandae inventore excepturi a culpa animi molestiae, maiores eveniet? Dolorum, doloremque, similique praesentium maiores perferendis perspiciatis, a quasi maxime odio temporibus illum omnis. Nobis ratione beatae quo architecto accusamus.
                </p>
            </main>

        </div>
    </div>
</div>