 //image gallery effect

 .flex-slide-page-wrapper {
    background-color: #466675;
    height: 100%;
}

.flex-slide-box-wrapper {
   background-color: #C8C8C8;
   
   & * {
       transition: all 2s;
   }
   
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

   .box {
       background-position-x: center;
       background-position-y: center;    
       background-color: #466675;
       min-height: 50px;
       h1 {
        font-size: 18px;
        padding-left: 10px;
        padding-top:16px;

       }

   }
   .box:nth-child(1) {
       background-color: #D2ACD1;
    }
   .box:nth-child(2) {
       background-color: #8C759F;
    }
   .box:nth-child(3) {
       background-color: #C587AE;
    }
   .box:nth-child(4) {
       background-color: #F5B8C7;
    }
   .box:nth-child(5) {
       background-color: #FBCDBE;
    }

   .box.open {
       flex:1;
       //background-size: 100%;
   }      
}


@media screen and (min-width: 768px) {
    .flex-slide-box-wrapper {
        background-color: #C8C8C8;
        
        & * {
            transition: all 2s;
        }
        
         height: 100%;
         border: 1px solid black;
         display: flex;
         flex-direction: row;
     
        .box {
            background-position-x: center;
            background-position-y: center;    
            background-color: #466675;
            max-width: 50px;
            min-width: 50px;
            //overflow: hidden;
            position: relative;
            h1 {
                transition:transform 1s;
                position:absolute;
                transform-origin: bottom left;
                bottom:10px;
                transform: rotate(-90deg);
                left:36px;
                width:500px;
                font-size: 20px;

            }
        }
        .box:nth-child(1) {
            background-color: #D2ACD1;
         }
        .box:nth-child(2) {
            background-color: #8C759F;
         }
        .box:nth-child(3) {
            background-color: #C587AE;
         }
        .box:nth-child(4) {
            background-color: #F5B8C7;
         }
        .box:nth-child(5) {
            background-color: #FBCDBE;
         }
     
        .box.open {
            flex:1;
            max-width: 100%;
            //background-size: 100%;
            h1 {
                left:10px;
                top:10px;
                transform: rotate(0deg);
                transform-origin: top center;
                font-size: 28px;

            }
        }      
     }
     
     
}


