.loader-wrapper {
    position:relative;
    width:100%;
    padding-top: 140px;
  .loader-block {
   position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    
      animation-name: rotate; 
      animation-duration: 3s; 
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  .loader {
    border: 1px solid darken(#ccc, 20);
    background-color: #ccc;
    position:absolute;
    width:40px;
    height:40px;
    //border-radius:50%;
    
      animation-name: rotateSize; 
      animation-duration: 2s; 
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  .loader1 {
    top:0;
    left:0;
  }
  .loader2 {
    top:0;
    right:0;
  }
  .loader3 {
    bottom:0;
    left:0;
  }
  .loader4 {
    bottom:0;
    right:0;
  }
  
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateSize {
      0% {transform: scale(1.0%); opacity: 0.2;}
      50% {transform:  scale(0.5); opacity: 0.8;}
      100% {transform:  scale(1.0); opacity: 0.2;}
  }
  }

  h4 {
    color: #ccc;
  }