

.to-do-list * {
    //outline-style:none;
  //box-shadow:none;
    border-color:red;
}


.to-do-list {
    padding-top: 50px;
    text-align: center;

    .item {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
        max-width: 700px;
        margin:auto;
        margin-bottom: 6px;
        display:flex;
        color: #555;

        span:nth-child(1) {
            flex:1;
        }
      
    }
      
    .add-control-wrapper {
        display: flex;
        height: 40px;
        max-width: 500px;
        margin:auto;
        margin-bottom: 50px;
        margin-top: 50px;
        button {
            width:30px;
            border-radius: 0 5px 5px 0;
            border:1px solid #ccc;
        }
        input {
            padding: 10px;
            flex:1;
            border-radius: 5px 0 0 5px;
            border:1px solid #ccc;
        }
    }

}
