<div class="sticky-footer-wrapper">
  <header>
      <div class="inner-page">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi molestias fugit vel culpa quae laudantium non et exercitationem.
          Sequi architecto tenetur facilis impedit rem illum commodi, laboriosam est ab dolor vitae itaque nobis voluptatum
          modi voluptatibus quia, vero reiciendis amet?
      </div>
  </header>
  <main>
      <div class="inner-page">
          lorem12000 magni esse aperiam totam doloremque iure quas accusantium earum itaque laborum sunt! Possimus quidem aliquam quam
          adipisci inventore suscipit ducimus! Soluta laboriosam veniam commodi, sequi maxptas cumque accusamus explicabo
          consequuntur nihil temporibus aspernatur qui quaerat iste optio tempore doloremque maiores atque quo quibusdam
          voluptatem? Ducimus quam laborum, magnam facere ut est temporibus doloremque deleniti pariatur praesentium
          in corrupti laudantium voluptatem ipsa. Modi impedit adipisci deleniti ipsa in rerum ab fugiat amet recusandae!
          Beatae autem commodi sequi laudantium quam, tempora necessitatibus saepe porro veniam numquam possimus dolorem
          ullam eaque molestiae minus corporis alias dignissimos doloremque cum velit quo quis incidunt quia unde!
          Nam ipsum sint unde debitis, alias voluptatum officiis praesentium tenetur necessitatibus libero in aut nisi
          exercitationem neque a, esse distinctio fuga, enim aliquam atque animi. Porro quis mollitia nostrum ratione
          molestias veritatis dignissimos dolores voluptatibus veniam omnis? Est expedita magni nisi animi fugit, quidem,
          dicta sapiente repellendus tempore consectetur itaque nemo, nulla consequatur! Soluta quo excepturi eum vel!
          Earum veniam minima ratione voluptatum?
      </div>
  </main>
  <footer>
      <div class="inner-page">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ipsum distinctio vero a incidunt
      </div>
  </footer>
</div>