.products,
.products * {
    transition: all 1s;
}

.products {
    .single-product-wrapper {
        margin: 10px;
    }
}


@media screen and (min-width: 700px) {

    .products {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .single-product-wrapper {
            flex: 0 1 430px;
        }
    }

}