<div class="text-center">
  <p>
    <br>
    <img src="/assets/images/logo.png" alt="">
  </p>
</div>



<div class="products">
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>
  <app-single-product></app-single-product>

</div>