<div class="basic-constructs container">
    <h1>Variations in flex layout</h1>
  <div class="row">
      
      <div class="col">
          <div class="boxes box-flat boxes1-1 ">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes box-flat  boxes1">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      
      <div class="col">
          <div class="boxes boxes1-1">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes1">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes2">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes3">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes4">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes5">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes6">
              <div class="box">mercury</div>
              
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes7">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes8">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes9">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="boxes boxes10">
              <div class="box">mercury</div>
              <div class="box">venus</div>
              <div class="box">planet<br />earth<br />green</div>
              <div class="box">mars</div>
              <div class="box">jupiter</div>
          </div>
      </div>
  </div>

</div>
