<div class="holding-page">
    <div class="holding-block">
        <div class="item" [ngClass]="{'js-added': jsfloat}">
<div class="image-wrapper">
            <img src="/assets/images/holding-page/holding-image.png" alt="" (click)="contacts=!contacts">
        </div>
            <div class="contact-wrapper" [ngClass]="contacts ? 'open' : ''">
                
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="form-group">

                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Query Type</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Further Information"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>