.item { 
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
    margin: 10px;
    transition: all 0.5s;
    &.over {
        background-color: lighten(#ccc, 15);
    }
    .image-block{
        height: 200px;
        // /border: 1px solid lighten(#ccc, 10);
        background-position-x: center;
        background-position-y: center;
        transition: background-size 1s;
        margin-bottom: 10px;
        background-size: 100% 100%;
        transition: all 1s;
        &.over {
            background-size: 130% 130%;
        }
        &.block1 {
            background-image: url('/assets/news-items/news1.jpg');
        }
        &.block2 {
            background-image: url('/assets/news-items/news2.jpg');
        }
        &.block3 {
            background-image: url('/assets/news-items/news3.jpg');
        }
        &.block4 {
            background-image: url('/assets/news-items/news4.jpg');
        }
        &.block5 {
            background-image: url('/assets/news-items/news4.jpg');
        }
        &.block6 {
            background-image: url('/assets/news-items/news4.jpg');
        }
    }
}