<div class="item" (mouseover)="handleover()" (mouseout)="handleoff()" [ngClass]="hovered ? 'over':''" >
  <div class="image-container"> 
    <div class="image-block block1" [ngClass]="hovered ? 'over':''">
      <div class="ghost-block" >
        <div class="view"></div>
      </div>

    </div>

  </div>
  <div class="text-container">
    <h2 class="title">NASA's Curiosity Rover Is Tracking</h2>
    <p class="sub-text">NASA's Curiosity rover is keeping tabs on the huge Martian dust storm that has sidelined its older cousin on the other side of the planet.</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis accusantium est a non impedit.
      <a href="#" routerLink="">read more...</a>
    </p>


  </div>
</div>