.item { 
    border: 1px solid #ccc;
    //width: 300px;
    padding: 10px;
    transition: all 0.5s;
    height:100%;
    &.over {
        background-color: lighten(#ccc, 15);
    }
    .image-block{
        height: 180px;
        // /border: 1px solid lighten(#ccc, 10);
        background-position-x: center;
        background-position-y: center;
        transition: background-size 1s;
        margin-bottom: 10px;
        background-size: 110%;
        transition: all 1s;
        &.over {
            background-size: 150%;
        }
    }
}