/* You can add global styles to this file, and also import other style files */
html { 
    height: 100%;
} 
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}


//content
.rt-content-500 {
    border: 1px solid #ccc;
    padding: 20px;
    width: 500px;
    margin:20px auto 20px auto;   
    text-align: center;
}



.rt-flatten-button {
    border: none;
    background: none;
    color:darken(lightblue, 20);
}