<div class="home-block">
    <div class="item">
        <h1>List of pages</h1>
        <ul>
            <li>
                <a routerLink="basic-constructs">Basic Constructs</a>
            </li>
            <li>
                <a routerLink="login-page">Login Page</a>
            </li>
            <li>
                <a routerLink="holding-page">Holding Page</a>
            </li>
            <li>
                <a routerLink="sticky-footer">Sticky Footer</a>
            </li>
            <li>
                <a routerLink="main-menu">Page Menu</a>
            </li>
            <li>
                <a routerLink="product-list">Product List</a>
            </li>
            <li>
                <a routerLink="flex-slide-page">Flex Slide Page</a>
            </li>
            <li>
                <a routerLink="image-gallery">Image Gallery</a>
            </li>
            <li>
                <a routerLink="form-elements">Form Elements</a>
            </li>
            <li>
                <a routerLink="video-background">Video Background</a>
            </li>
            <li>
                <a routerLink="click-event">Click Event</a>
            </li>


        </ul>
    </div>
</div>