<div class="home-block">
    <div class="item">
        <h1>List of pages</h1>
        <ul class="block block1">
            <li>
                <a routerLink="basic-constructs">Basic Constructs</a>
            </li>
            <li>
                <a routerLink="login-page">Login Page</a>
            </li>
            <li>
                <a routerLink="holding-page">Holding Page</a>
            </li>
            <li>
                <a routerLink="sticky-footer">Sticky Footer</a>
            </li>
            <li>
                <a routerLink="main-menu">Page Menu</a>
            </li>
            <li>
                <a routerLink="slide-in-menu">Slide in menu</a>
            </li>
            <li>
                <a routerLink="menu-flex">Menu flex</a>
            </li>
            <li>
                <a routerLink="product-list">Product List</a>
            </li>
            <li>
                <a routerLink="flex-slide-page">Flex Slide Page</a>
            </li>
            <li>
                <a routerLink="image-gallery">Image Gallery</a>
            </li>
            <li>
                <a routerLink="form-elements">Form Elements</a>
            </li>
            <li>
                <a routerLink="video-background">Video Background</a>
            </li>
            <li>
                <a routerLink="click-event">Click Event</a>
            </li>
            <li>
                <a routerLink="cssGridLion">Css Grid Lion Jigsaw</a>
            </li>
        </ul>
        <hr>
        <ul class="block block2">
            <li>
                <a routerLink="simple-data">Simple Data</a>
            </li>
            <li>
                <a routerLink="multi-item-class-toggle">Multi Item Class Toggle</a>
            </li>
            <li>
                <a routerLink="using-ng-model"> Using a simple ngModel - 2 way data binding example</a>
            </li>
            <li>
                <a routerLink="parent-child-dataflow-simple"> Simple Dataflow between child and parent</a>
            </li>
            <li>
                <a routerLink="simple-service">Simple Service example</a>
            </li>
            <li>
                <a routerLink="/two-way-data">Two way data</a>
            </li>
            <li>
                <a routerLink="/to-do-list">To Do List</a>
            </li>
            <li>
                <a routerLink="/to-do-list2">To Do List V2</a>
            </li>
        </ul>
    </div>
</div>