
<div class="home-block">
  <div class="item">
      <h1>List of pages</h1>
      <ul>
          <li>
            <a routerLink="basic-constructs">Basic Constructs</a>
          </li>
          <li>
            <a routerLink="login-page">Login Page</a>
          </li>
          <li>
              <a routerLink="image-gallery" >Image Gallery</a>
          </li>
          <li>
              <a routerLink="sticky-footer" >Sticky Footer</a>
            </li>
            <li>
                <a routerLink="holding-page" >Holding Page</a>
          </li>
            <li>
                <a routerLink="calls-to-action" >Calls to action</a>
            </li>
            <li>
                <a routerLink="flex-slide-page" >Flex Slide Page</a>
            </li>
          <li>
              <a href="slide-in-menu/index.html">TODO - Slide-In Menu</a>
          </li>
          <li>
              <a href="input-elements/index.html">TODO - Input Elements</a>
          </li>
          <li>
              <a href="product-list/index.html">TODO - Product List</a>
          </li>

      </ul>



  </div>
</div>