<div class="spacing" (click)="gPadding=!gPadding"  >Padding
</div>
<input type="text" text="" [(ngModel)]="theWidth">

<div class="jigsaw-container" [ngClass]="gPadding ? 'pads':''" [ngStyle]="{'width': theWidth, 'height': theWidth}">
  <div class="piece piece1" (click)="lionShow1=!lionShow1"  [ngClass]="lionShow1 ? 'properLocation':''"></div>
  <div class="piece piece2" (click)="lionShow2=!lionShow2"  [ngClass]="lionShow2 ? 'properLocation':''"></div>
  <div class="piece piece3" (click)="lionShow3=!lionShow3"  [ngClass]="lionShow3 ? 'properLocation':''"></div>
  <div class="piece piece4" (click)="lionShow4=!lionShow4"  [ngClass]="lionShow4 ? 'properLocation':''"></div>
  <div class="piece piece5" (click)="lionShow5=!lionShow5"  [ngClass]="lionShow5 ? 'properLocation':''"></div>
  <div class="piece piece6" (click)="lionShow6=!lionShow6"  [ngClass]="lionShow6 ? 'properLocation':''"></div>
  <div class="piece piece7" (click)="lionShow7=!lionShow7"  [ngClass]="lionShow7 ? 'properLocation':''"></div>
  <div class="piece piece8" (click)="lionShow8=!lionShow8"  [ngClass]="lionShow8 ? 'properLocation':''"></div>
  <div class="piece piece9" (click)="lionShow9=!lionShow9"  [ngClass]="lionShow9 ? 'properLocation':''"></div>
  <div class="piece piece10" (click)="lionShow10=!lionShow10"  [ngClass]="lionShow10 ? 'properLocation':''"></div>
  <div class="piece piece11" (click)="lionShow11=!lionShow11"  [ngClass]="lionShow11 ? 'properLocation':''"></div>
  <div class="piece piece12" (click)="lionShow12=!lionShow12"  [ngClass]="lionShow12 ? 'properLocation':''"></div>
  <div class="piece piece13" (click)="lionShow13=!lionShow13"  [ngClass]="lionShow13 ? 'properLocation':''"></div>
  <div class="piece piece14" (click)="lionShow14=!lionShow14"  [ngClass]="lionShow14 ? 'properLocation':''"></div>
  <div class="piece piece15" (click)="lionShow15=!lionShow15"  [ngClass]="lionShow15 ? 'properLocation':''"></div>
  <div class="piece piece16" (click)="lionShow16=!lionShow16"  [ngClass]="lionShow16 ? 'properLocation':''"></div>
  <div class="piece piece17" (click)="lionShow17=!lionShow17"  [ngClass]="lionShow17 ? 'properLocation':''"></div>
  <div class="piece piece18" (click)="lionShow18=!lionShow18"  [ngClass]="lionShow18 ? 'properLocation':''"></div>
  <div class="piece piece19" (click)="lionShow19=!lionShow19"  [ngClass]="lionShow19 ? 'properLocation':''"></div>
  <div class="piece piece20" (click)="lionShow20=!lionShow20"  [ngClass]="lionShow20 ? 'properLocation':''"></div>
  <div class="piece piece21" (click)="lionShow21=!lionShow21"  [ngClass]="lionShow21 ? 'properLocation':''"></div>
  <div class="piece piece22" (click)="lionShow22=!lionShow22"  [ngClass]="lionShow22 ? 'properLocation':''"></div>
  <div class="piece piece23" (click)="lionShow23=!lionShow23"  [ngClass]="lionShow23 ? 'properLocation':''"></div>
  <div class="piece piece24" (click)="lionShow24=!lionShow24"  [ngClass]="lionShow24 ? 'properLocation':''"></div>
  <div class="piece piece25" (click)="lionShow25=!lionShow25"  [ngClass]="lionShow25 ? 'properLocation':''"></div>
</div>



